<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>浙江椿树整流器有限公司</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="top_bar">
        <div>
            <a href="#">首页</a>
            <a>|</a>
            <a href="#">公司简介</a>
             <a>|</a>
            <a href="#">产品中心</a>
             <a>|</a>
            <a href="#">资质证照</a>
             <a>|</a>
            <a href="#">生产车间</a>
             <a>|</a>
            <a href="#">技术支持</a>
             <a>|</a>
            <a href="#">资讯动态</a>
             <a>|</a>
            <a href="#">联系我们</a>
        </div>
        <div id="message_tip">


            <a>消息通知</a>
            <a>语言</a>

<!--            <ul>-->

<!--                <ul>-->
<!--                    <li>中文</li>-->
<!--                    <li>English</li>-->

<!--                </ul>-->
<!--            </ul>-->
        </div>

    </div>
    <div class="banner">
        <div id="img_logo" style="display: inline-block">
            <div></div>
            <a id="chunz_a" href="https://www.baidu.com/">
                <img src="{% static 'img/chunz.png'%}">
            </a>
        </div>
        <div style="display: inline-block" id="name_link">

            <a href="#">固态继电器</a>
            <a href="#">光伏防反二极管</a>
            <a href="#">半导体模块</a>
            <a href="#">桥式整流桥</a>
            <a href="#">智能模块</a>
            <a href="#">平板平板</a>
            <a href="#">螺旋平板</a>
        </div>
        <!--        收索框-->
        <div id="se_div" style="display: inline-block">
            <from method="get" action="//search">
                <input type="search" id="search_input" placeholder="站内收索"/>
                <!--需要一个收索的图标                -->
                <input id="sbu_input" type="submit" value="search"/>
            </from>
        </div>
        <div id="temp_div"></div>

    </div>
    <div class="content">
        <div class="content_left">
                <ul>
                    <li>
                        <a>固态继电器</a>
                    </li>
                    <li>
                        <a>固态继电器</a>
                    </li>
                    <li>
                        <a>固态继电器</a>
                    </li>
                    <li>
                        <a>固态继电器</a>
                    </li>
                    <li>
                        <a>固态继电器</a>
                    </li>
                    <li>
                        <a>固态继电器</a>
                    </li>
                    <li>
                        <a>固态继电器</a>
                    </li>
                </ul>
        </div>
        <div class="content_right">

        </div>

    </div>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}"></script>

</body>
</html>