<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>浙江椿树整流器有限公司</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/headfoot.css' %}">


</head>
<body>
<!--导航栏 顶部-->
<nav class="navbar navbar-default text-center navbar-fixed-top" id="navbar_top" role="navigation">
	<div class="container" style="padding-left: 0px;padding-right: 0px;padding-top: 0px">
	<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
        <img class="navbar-brand" src="{% static 'img/wzlogo.png' %}" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
	</div>

	<div class="collapse navbar-collapse " id="example-navbar-collapse"  style="margin-top: 0px;">







		<ul class="nav navbar-nav  navbar-right" style="font-size:16px">
			<li ><a class="nav_fh" href="/index">网站首页</a></li>
            <li  ><a  class="dropdown nav_fh dropdown-toggle" href="#"  data-toggle="dropdown">公司概况</a>
            <ul class="dropdown-menu  dropdown-menu-1"  >
                <li class="dropdown-submenu" ><a tabindex="-1" href="/gsjj">公司简介</a></li>
                <li class="dropdown-submenu" ><a tabindex="-1" href="/gszs">资质荣誉</a></li>
            </ul>


            </li>
			<li  ><a  class="dropdown nav_fh dropdown-toggle" href="#"  data-toggle="dropdown">产品中心</a>
            <ul class="dropdown-menu  dropdown-menu-1"  >
                <li class="dropdown-submenu" ><a tabindex="-1" href="/cpzx?id=mokuai">模块系列</a>
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a tabindex="-1" href="#">整流模块</a></li>-->
<!--                        <li><a tabindex="-1" href="#">可控硅模块</a></li>-->
<!--                    </ul>-->

                </li>

                <li class="dropdown-submenu" ><a tabindex="-1" href="/cpzx?id=gtjdq">固态继电器系列</a></li>
                <li class="dropdown-submenu" ><a tabindex="-1" href="/cpzx?id=gyjgtjdq">工业级固态系列</a></li>
                <li class="dropdown-submenu" ><a tabindex="-1" href="/cpzx?id=luoxuan">螺旋系列</a></li>

                <li class="dropdown-submenu" ><a tabindex="-1" href="/cpzx?id=pingban">平板系列</a></li>

                <li class="dropdown-submenu" ><a tabindex="-1" href="/cpzx?id=zlq">整流桥系列</a></li>

                <li class="dropdown-submenu" ><a tabindex="-1" href="/cpzx?id=srq">散热器系列</a></li>

                <li class="dropdown-submenu" ><a tabindex="-1" href="/cpzx?id=cpfj">产品附件</a></li>

            </ul>


            </li>
            <li ><a class="nav_fh" href="#" title="企业微信" id="nav_top_js"
			data-container="body" data-toggle="popover" data-placement="bottom"  data-trigger="hover"
            >技术支持</a></li>
			<li ><a  class="nav_fh" href="/news">新闻资讯</a></li>
			<li ><a class="nav_fh"  href="/lxwm">联系我们</a></li>
            <li class="for_li">
                <form  action="/czsearch/" method="get" class="navbar-form" role="form" style="padding-right: 0px;padding-left: 0px; margin-left:15px;">
                    {% csrf_token %}
        <div class="row">
            <div style="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="text">
                    <span class="input-group-btn ">
                        <button style="outline: none;" type="submit" class="btn btn-default" >搜索</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </form>


            </li>
		</ul>
	</div>
	</div>
</nav>
<!--底部导航条 -->
<nav class=" container-fluid  db_nav navbar navbar-default text-center navbar-fixed-bottom" role="navigation" id="navbar_bottom">
	<div class="container text-center" style="padding-left: 0px;padding-right: 0px;">
        <div class="row">
<!--            底部电话-->
            <div class="col-md-4 col-md-offset-2 footer_bar_lf " style=" line-height: 100px;">
                <div class="row" >
                     <div class="col-md-1 col-md-offset-2">
                         <img src="{% static 'img/b-tel.png'%}">
                     </div>
                     <div class="col-md-6 col-md-offset-1" >
                         <div class="row">
                             <div class="col-md-12" style=" line-height: 65px;" >
                             <a class="b_bar_font">电话:4008-267-221</a>
                                 </div>
                        <div class="row">
                             <div class="col-md-12 " style=" line-height: 0px;">
                             <a class="b_bar_font">电话:4008-267-221</a>
                         </div>


                     </div>
                </div>
</div>
            </div>
        </div>
            <!--            邮件传真-->

            <!--            底部地址-->
            <div class="col-md-4 " style=" line-height: 100px;">
                <div class="row" >
                     <div class="col-md-1 col-md-offset-2">
                         <img src="{% static 'img/b-add.png'%}">
                     </div>
                     <div class="col-md-6 col-md-offset-1" >
                         <div class="row">
                             <div class="col-md-12" style=" line-height: 65px;" >
                             <a class="b_bar_font">浙江乐清柳市排岩头</a>
                                 </div>
                        <div class="row">
                             <div class="col-md-12 " style=" line-height: 0px;">
                             <a class="b_bar_font">柳黄路1178号椿树大厦</a>
                         </div>


                     </div>
                </div>
</div>
            </div>
        </div>


	</div>
	</div>

</nav>

<!--轮播-->
<div class="container-fluid text-center lunbo_div">
   <div class="row" >

    <div id="myCarousel" class="carousel slide col-md-12 col-lg-12 text-center  " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>

        </ol>
        <div class="carousel-inner text-center">
            <div class="item active text-center">
                <img src="{% static 'img/lunbo_one.jpg'%}" alt="">
            </div>
            <div class="item text-center">
                <img src="{% static 'img/lunbo_two.jpg'%}" alt="">
            </div>
            <div class="item text-center">
                <img src="{% static 'img/lunbo_two.jpg'%}" alt="">
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

   </div>
</div>
<!-- 检索模块-->
<div class="container-fluid" style="margin-top: 36px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
<!--               s_ul_li  -->
             <ul class="list-unstyled ms_ul list-inline ">
                    <li>
                        <a href="#" >
                            <div class="i_fwzc_title">
                                <span>资料下载</span>
                                <img style="float: right;" src="{% static 'img/fwzc_tb_01.png'%}">
                            </div>

                            <div class="i_fwzc_content text-muted text-left " >
                                椿整为你准备了详细的产品资料，所有资料均可在线下载
                            </div>

                        </a>
                    </li>
                    <li>
                        <a href="#" >
                            <div class="i_fwzc_title" >
                                <span>产品检索</span>
                                <img style="float: right;" src="{% static 'img/fwzc_tb_02.png'%}">
                            </div>

                            <div class="i_fwzc_content text-muted text-left ">
                                完善的产品库，在这里你可以检索到本公司所有产品
                            </div>

                        </a>
                    </li>
                    <li>
                        <a href="#" >
                            <div class="i_fwzc_title" >
                                <span>技术支持</span>
                                <img style="float: right;" src="{% static 'img/fwzc_tb_03.png'%}">
                            </div>

                            <div class="i_fwzc_content text-muted text-left" >
                                椿整为所有客户提供技术培训，疑难解答，产品保修的多项服务。
                            </div>

                        </a>
                    </li>
                    <li>
                        <a href="#" >
                            <div class="i_fwzc_title" >
                                <span>售后服务</span>
                                <img style="float: right;" src="{% static 'img/fwzc_tb_04.png'%}">
                            </div>

                            <div class="i_fwzc_content text-muted text-left" >
                                专业的技术服务人员，实时为您解答遇到的所有难题。
                            </div>

                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<!--公司简介-->
        <div class="container-fluid jianjie" style="background:#f6f6f6;margin-top: 40px;">
<!--            标题-->
            <div class="row">
                <div class="col-md-12" style="padding-top:20px;margin: 0px;">
                    <p class="text-center title_p text-primary "><strong>浙江椿树整流器有限公司</strong></p>
                </div>
            </div>
<!--            副标题-->
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted text-center hy">半导体行业的先驱者</p>
                </div>
            </div>
<!--           图片 -->
            <div class="row text-center">
                <!--
                             网格嵌套       -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" >
                        <div class="row">
                            <div class="col-md-2 col-xs-4 text-center">
                                    <div>
                                        <a id="year_a" class="text-primary"><strong>23</strong></a>
                                        <a class="text-muted">年</a>
                                    </div>
                                    <div>
                                        <a class="text-muted"><SPAN class="span_a">半导体生</SPAN>产经验</a>
                                    </div>

                                </div>
                            <div class="col-md-2 col-xs-4 text-center" >
                                    <div>
                                        <a id="create_a" class="text-primary"><strong>23</strong></a>
                                        <a class="text-muted">条</a>
                                    </div>
                                    <div>
                                        <a class="text-muted">半自动生产线</a>
                                    </div>

                                </div>
                            <div class="col-md-2 col-xs-4 text-center">
                                    <div>
                                        <a id="ncl_a" class="text-primary" ><strong>5000000</strong></a>
                                        <a class="text-muted jian_a">件</a>
                                    </div>
                                    <div>
                                        <a class="text-muted">年度产量</a>
                                    </div>

                                </div>
                            <div class="col-md-2  col-xs-4 text-center">
                                    <div>
                                        <a id="gys" class="text-primary" ><strong>1000</strong></a>
                                        <a class="text-primary di_a" style="font-size: 30px;"><strong>+企业</strong></a>
                                    </div>
                                    <div>
                                        <a class="text-muted">合格供应商</a>
                                    </div>

                                </div>
                            <div class="col-md-2 col-xs-4 text-center" >
                                    <div>
                                        <a id="kfts" class="text-primary"><strong>0</strong></a>
                                        <a class="text-muted">桩</a>
                                    </div>
                                    <div>
                                        <a class="text-muted">客户投诉</a>
                                    </div>

                                </div>
                            <div class="col-md-2 col-xs-4 text-center">
                                    <div>
                                        <a id="ce3c" class="text-primary" ><strong>CE.3C</strong></a>
                                    </div>
                                    <div>
                                        <a class="text-muted">多项<span class="span_a">专业</span>资质认证</a>
                                    </div>

                                </div>
                        </div>

                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"  style="margin-top: 33px;">
                    <div >
                        <p class="lead  text-left" style="text-indent:50px;">
浙江椿树整流器有限公司创建于1999年，专业致力于电力半导体器件生产。经多年创新拼博，现已发展成为集科研、开发、销售为一体的跨区域、多化综合型企业，曾荣获全国工业产品生产许可证。 并通过ISO9001:2000质量体系认证，3C认证及CE认证。                        </p>
                        <p class="lead  text-left" style="text-indent:50px;">
                          本公司生产的"椿整 CHUNZ"牌优质的全系列单相、三相固态继电器、单相、三相、智能交流调压模块、智能整流调压模块。MTC、MFC、MDC、MDS、MDQ等系列电力电子半导体模块，MD,MDK防反二极管模块，KBPC、QL、SQL、桥式整流器、 肖特基及电焊机模块。双向可控硅、ZP普通整流管、KP普通晶闸管、KK快速晶闸管、KS双向晶闸管、KG高频晶闸管。
                        </p>
                        <p class="lead  text-left" style="text-indent:50px;">
公司产品主要应用于工业控制、消费电子、电力传输、医疗仪器等领域。                        </p>
                    </div>
                </div>
                    </div>
                </div>


                </div>


        </div>
        <!--新闻模块-->
<div class="container-fluid x_div" style="margin-top: 40px;background-color:#f9f9f9;">
    <div class="container  text-left" >
<!--        新闻标题-->
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline list-unstyled ">
                    <li >
                        <a class="lead " style="margin-bottom: 0px;"><h1 class="text-primary title_p "><STRONG>新闻中心</STRONG></h1></a>
                    </li>
                    <li class="xinwen_li" >
                        <a class="lead text-muted "><H4  >新闻资讯</H4></a>
                    </li>
                    <li>
                        <a class="lead text-muted "><H4 >行业动态</H4></a>
                    </li>
                </ul>
            </div>
        </div>
<!--        新闻内容-->
        <div class="row ">
                {% for foo in news %}
            <div class="col-md-4" >
                <ul class="list-inline list-unstyled ">
                    <li >
                        <a href="../xwxq?id={{foo.url}}" >
                            <div class="xw_d">
                                {% for s in foo.img %}
                                {% if forloop.counter == 1 %}
                                     <img src="{{s}}"
                                        class="xw_a">
                                {%  endif %}
                                {% endfor %}
                            </div>
                            <div  class="xinwei_a" >
                                    <div class="text-center text-muted">
                                        <h4><strong>{{foo.title}}</strong></h4>
                                    </div>
                                    <div class="text-muted">
                                        <div class="text-truncate" style="text-indent:2em;">{{foo.content}}</div>
                                    </div >

                                    <div style="line-height:40px;">
                                      <img  style="margin-top: -3px;" src="{% static 'img/min_time.png'%}">
                                        <span class="text-muted">{{foo.date}}</span>
                                    </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
                 {% endfor %}
        </div>



    </div>
</div>
    <!--服务与支持    -->
    <div class="container-fluid text-left fuwu_div ">
        <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <a class="lead title_p">
                        <h1 class="text-muted"><strong>服务与支持</strong></h1>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <p class="lead text-muted">在保障产品质量的同时，致力于为客户提供尽心尽力、尽善尽美的服务</p>
                    </div>
                    <div class="col-md-12 title_p">
                        <a class="lead text-muted"><h1><strong>质量技术热线：</strong></h1></a>
                    </div>
                    <div class="col-md-12">
                      <h2 class=" text-muted"> 4008-267-221</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>


















<div class="container-fluid db_nav" style="background:#f6f6f6;">
	<div class="row" style="padding-left: 0px;padding-right: 0px;">
		<div class="container" style="padding-left: 0px;padding-right: 0px;">
			<div class="row" style="padding-top: 30px;">
				<div class="col-md-6 footer_lf">
						<div class="row">
							<div class="col-md-3">
								<div class="footer_title">
									<a href="/gsjj" ><strong>公司简介</strong></a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="footer_title">
									<a href="/cpzx?id=mokuai" ><strong>产品中心</strong></a>
								</div>
								<br>
								<div class="footer_name">
									<a  href="/cpzx?id=gtjdq" class="text-muted">固态继电器系列</a>
								</div>
								<div  class="footer_name">
									<a href="/cpzx?id=luoxuan" class="text-muted">螺旋系列</a>
								</div>
								<div class="footer_name">
									<a href="/cpzx?id=pingban" class="text-muted">平板系列</a>
								</div>
								<div class="footer_name">
									<a  href="/cpzx?id=zlq" class="text-muted ">整流桥系列</a>
								</div>
								<div class="footer_name">
									<a  href="/cpzx?id=srq" class="text-muted">散热器系列</a>
								</div>

							</div>
							<div class="col-md-3 ">
								<div class="footer_title">
									<a href="#" ><strong>资格证书</strong></a>
								</div>
																<br>
								<div class="footer_name">
									<a  href="/cpzx?id=cpfj" class="text-muted">产品附件</a>
								</div>
<!--								<div  class="footer_name">-->
<!--									<a href="#" class="text-muted">固态继电器系列</a>-->
<!--								</div>-->
<!--								<div class="footer_name">-->
<!--									<a href="#" class="text-muted">固态继电器系列</a>-->
<!--								</div>-->
<!--								<div class="footer_name">-->
<!--									<a  href="#" class="text-muted ">固态继电器系列</a>-->
<!--								</div>-->
<!--								<div class="footer_name">-->
<!--									<a  href="#" class="text-muted">固态继电器系列</a>-->
<!--								</div>-->
							</div>

							<div class="col-md-3">
								<div class="footer_title">
									<a href="/news" ><strong>公司动态</strong></a>
								</div>
							</div>
						</div>
				</div>
			<div class="col-md-5" style="padding-top:0px;padding-left: 20px;padding-right: 0px;">
					<div class="row">
                        <div class="col-md-5 text-center" >
<!--                            微信二维码-->
                            <img src="{% static 'img/vx_qy.png'%}"/>
                            <p class="lead" style="font-size:18px;"><a class="text-muted">扫码关注企业微信</a></p>
                        </div>

                        <div class="col-md-7">
                           <p class="lead"><strong>全国销售热线：</strong></p>
                           <p class="lead">4008-267-221</p>
                           <p class="lead">地址：浙江省乐清市柳市镇排岩头工业区柳黄路1178号椿树大厦</p>

                        </div>
                    </div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="container-fluid text-center ba_div" style="background-color:#484848">

            <a href="#" style="color:#fff">
                Copyright© 2014 版权所有：浙江椿树整流器有限公司 备案号：沪ICP备05035961号-1
            </a>

</div>
<!--右侧导航栏-->
<div class=" right_nav text-center "  style="width:50px;">
    <ul class="nav nav-tabs  nav-stacked">
    <li style="">
            <a id="right_weixin_qiye"   data-trigger="hover"
                data-container="body" data-toggle="popover" data-placement="left" style="width:50px;height:40px;
                 background: url({% static 'img/wachatgreen.png'%})no-repeat center #1861ae;">
<!--                企业微信-->

            </a>
            <div>公众号</div>
        </li>
    <li style="">
        <a  id="right_qq"   data-trigger="hover"
                data-container="body" data-toggle="popover" data-placement="left" data-content="NULL" style="width:50px;height:40px;
                 background: url({% static 'img/qqblue.png'%})no-repeat center #1861ae;">
            </a>
        <div>企业QQ</div>
    </li>
    <li style="">
        <!--       销售微信     -->
                <a  id="right_weixin_xiaoshou"   data-trigger="hover"
                data-container="body" data-toggle="popover" data-placement="left" style="width:50px;height:40px;
                 background: url({% static 'img/wachatgreen.png'%})no-repeat center #1861ae ;"></a>
                <div>销售微信</div>
    </li>
    <li style="">
                <!--       销技术     -->
        <a  id="right_weixin_jishu"   data-trigger="hover"
            data-container="body" data-toggle="popover" data-placement="left" style="width:50px;height:40px;
                 background: url({% static 'img/wachatgreen.png'%})no-repeat center #1861ae;">
        </a>
        <div>企业微信</div>
    </li>
    <li><a href="#" onclick="topFunction()"  style="width:50px;height:40px;
                 background:url({% static 'img/gotop.png'%})#1861ae;">
    </a>
        <div>返回顶部</div>
    </li>
</ul>

</div>


<!--手机底部导航栏-->
<div class="container-fluid text-center ba_div_2 navbar-fixed-bottom " style="background:#337ab7">
    <div class="row xs_row">
        <div class="col-xs-2" style="margin-left: 33px;">
            <a href="/index">
                <img src="{% static 'img/home.png'%}">
                <h6>首页</h6>
            </a>

        </div>
        <div class="col-xs-2">
            <a href="/gszs">
                <img src="{% static 'img/zizhi.png'%}">
                <h6>资质</h6>
            </a></div>
        <div class="col-xs-2">
            <a href="/cpzx?id=gtjdq">
                <img src="{% static 'img/cpzx.png'%}">
                <h6>产品</h6>
            </a></div>
        <div class="col-xs-2">
            <a href="/lxwm">
                <img src="{% static 'img/foot1_wx.png'%}">
                <h6>技术</h6>
            </a></div>
        <div class="col-xs-2">
            <a href="/lxwm">
                <img src="{% static 'img/lx.png'%}">
                <h6>联系</h6>
            </a></div>



    </div>
</div>





    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/headfoot.js' %}"></script>
    <script>
<!--    popoverjs-->



$(
	function(){
		var qiyeweixin ='<img src="{% static 'img/vx_qy.png'%}">'
		var jishuwenxi ='<img src="{% static 'img/vx_qy.png'%}">'
		var xiaoshouweixin ='<img src="{% static 'img/vx_qy.png'%}">'
		$('#right_weixin_qiye').popover({
			html:true,
			content:qiyeweixin,
		});
		$('#right_qq').popover({
			html:true,

		});
		$('#right_weixin_xiaoshou').popover({
			html:true,
			content:xiaoshouweixin,
		});
		$('#right_weixin_jishu').popover({
			html:true,
			content:jishuwenxi,
		});
		$('#nav_top_js').popover({
			html:true,
			content:jishuwenxi,
		});
	  }
    )
<!--  数值自增函数-->
 function NumAutoPlusAnimation(targetEle, options) {
 /*可以自己改造下传入的参数，按照自己的需求和喜好封装该函数*/
 //不传配置就把它绑定在相应html元素的data-xxxx属性上吧
 options = options || {};

 var $this = document.getElementById(targetEle),
  time = options.time || $this.data('time'), //总时间--毫秒为单位
  finalNum = options.num || $this.data('value'), //要显示的真实数值
  regulator = options.regulator || 100, //调速器，改变regulator的数值可以调节数字改变的速度

  step = finalNum / (time / regulator),/*每30ms增加的数值--*/
  count = 0, //计数器
  initial = 0;

 var timer = setInterval(function() {

  count = count + step;

  if(count >= finalNum) {
   clearInterval(timer);
   count = finalNum;
  }
  //t未发生改变的话就直接返回
  //避免调用text函数，提高DOM性能
  var t = Math.floor(count);
  if(t == initial) return;

  initial = '<strong>'+t+'</strong>';

  $this.innerHTML = initial;
 }, 30);
} ;
window.addEventListener('scroll',winScroll);
function winScroll(e){
  if(document.documentElement.scrollTop == 200 | document.body.scrollTop ==200) {

  }
};

<!--仅执行一次-->
var flage =true;

window.onmousewheel = function(event) {

  event = event || window.event;
  var scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
<!--   企业年份 -->
   if(scrollTop >= 150) {
        if(flage) {
                NumAutoPlusAnimation("year_a", {
				time: 1000,
				num: 23,
				regulator: 20
			})
			NumAutoPlusAnimation("gys", {
				time: 2000,
				num: 1000,
				regulator: 50
			})
<!--			生成线-->
			 NumAutoPlusAnimation("create_a", {
				time: 1000,
				num: 23,
				regulator: 20
			})
			NumAutoPlusAnimation("ncl_a", {
				time: 2000,
				num: 500000,
				regulator: 50
			})
			flage = false;
        }


    }


};

</script>
</body>
</html>